<div>
	<label for="title">Title:</label>
	<input type="text" name="feed[title]" id="title">
	<br>
	<label for="source">Source:</label>
	<input type="text" name="feed[source]" id="source">
	<br>
	<button class="submit">Add Feed</button>
</div>